<footer class="pt-5 pb-4 section-padding bg-dark">
    <div class="container text-white">
        <div class="row g-4">
            
            <div class="col-lg-5">
                <div class="d-flex align-items-center mb-3">
                    <img src="/assets/img/logo.png" alt="Logo UPA Lab Biosain" width="50" height="50" class="me-2"> 
                    <div class="brand-footer">
                        <span class="title-footer fw-bold d-block">Pusat UPA Laboratorium Biosain</span>
                        <span class="subtitle-footer small opacity-75">Politeknik Negeri Jember</span>
                    </div>
                </div>
                
                <address class="contact-info small opacity-75 mb-3">
                    Jl. Mastrip No.164, Lingkungan Panji, Tegalgede, Kec. <br>
                    Sumbersari, Kabupaten Jember, Jawa Timur 68121
                </address>

                <div class="contact-details small opacity-75">
                    <p class="mb-1">Telephone: +62 341 571708</p>
                    <p class="mb-1">Fax: +62 341 586415</p>
                    <p class="mb-1">Email: biosain@polije.ac.id</p>
                    <p class="mb-1">Whatsapp: +62 821 4290 1215</p>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <h3 class="col-title fs-5 mb-3">Tentang Lab</h3>
                <ul class="list-unstyled small opacity-75">
                    <li class="mb-1"><a href="galeri.html">Galeri</a></li>
                    <li class="mb-1"><a href="tentang.html">Visi Misi</a></li>
                    <li class="mb-1"><a href="layanan.html">Layanan</a></li>
                    <li class="mb-1"><a href="fasilitas.html">Fasilitas </a></li>
                    <li class="mb-1"><a href="kontak.html">Kontak</a></li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h3 class="col-title fs-5 mb-3">Kritik & Saran</h3>
                <p class="small opacity-75">
                    "Jika ada pesan, kesan, kritik dan saran atau ada artikel yang kurang layak dipublikasikan, silakan hubungi kami melalui kontak form email kami."
                </p>
            </div>
        </div>
    </div>
</footer>