<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom fixed-top" id="main-nav">
    <div class="container-fluid mx-3">
        <a class="navbar-brand d-flex align-items-center me-auto" href="#">
            <img src="assets/" alt="Logo" width="50" height="50"
                class="d-inline-block align-text-top me-2">
            <div class="d-flex flex-column">
                <span class="title fw-bold">Pusat UPA Laboratorium Biosain</span>
                <small class="subtitle" style="font-size: 0.8em;">Politeknik Negeri Jember</small>
            </div>
        </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Beranda</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Profil
                    </a>
                    <ul class="dropdown-menu dropdown-menu-danger">
                        <li><a class="dropdown-item" href="tentang.html">Tentang</a></li>
                        <li><a class="dropdown-item" href="galeri.html">Galeri</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Produk
                    </a>
                    <ul class="dropdown-menu dropdown-menu-danger">
                        <li><a class="dropdown-item" href="layanan.html">Layanan</a></li>
                        <li><a class="dropdown-item" href="fasilitas.html">Fasilitas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="publikasi.html">Publikasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kontak.html">Kontak</a>
                </li>
            </ul>
        </div>
    </div>
</nav>