section {
    text-align: center;
    padding: 40px 0;
}

.section-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}



/* Alat-Alat Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.alat-card {
    background-color: #ddd;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    min-height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.alat-card h3 {
    color: #333;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: bold;
}

.alat-card p {
    font-size: 0.85em;
    color: #333;
}

/* Laboratorium Section */
.lab-cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}

.lab-card {
    background-color: #ddd;
    border: 1px solid #ddd;
    width: 45%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lab-card img {
    width: 100%;
}

.lab-info {
    padding: 15px;
}

.btn-primary {
    display: inline-block;
    background-color: #e53935;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
}