@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.gallery-title {
    text-align: center;
    width: 600px;
    margin: 60px auto 20px auto; /* ganti posisi absolute */
}

.gallery-title h1 {
    font-family: 'inter', bold;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #000;
    margin: 0;
}

.gallery-title p {
    font-family: 'inter', bold;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333;
    margin-top: 5px;
}

/* Hapus kelas .gallery-grid karena kita menggunakan container Bootstrap */
.card-custom img { 
    /* Gunakan 100% lebar dari kolom Bootstrap */
    width: 100%;
    
    /* Tinggi dan properti styling lainnya tetap dipertahankan */
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    background: #ECE6F0;
    box-shadow: 0 8px 30px rgba(0,0,0,0.8);
}

/* ==========================
   Footer
========================== */
footer {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

footer .col-title {
    color: var(--yellow-accent);
}

footer a {
    color: var(--primary-light);
    text-decoration: none;
}

footer a:hover {
    color: var(--yellow-accent);
}