/* HERO */

.hero-section .hero-content {
    position: relative;
    color: #fff;
    text-align: center;
    z-index: 2;
}
/* Card Modern */

.vmg-img:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(255,0,0,0.15);
    border-color: #ff0000;
}

.vmg-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border: 1px solid #eee;
     border-radius: 18px;
    overflow: hidden;
    transition: .35s;
}

/* Judul section */
.section-title {
    font-size: 28px;
    font-weight: 700;
    color: #ff0000;
}